div {
  outline: 1px rgba(225,225,225,0.5) solid;
}

@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');

body {
  width: 50%;
  background-color: #930909;
  color: #edbe00;
  font-family: 'yanone Kaffeesatz', sans-serif;
  margin: 0;
}

#MainVeiw {
  width: 50%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 2;
}

#Options {
  grid-column: 1;
  grid-row: 1;
}

#AllergyStuff {
  grid-column: 1;
  grid-row: 2;
}

#DataBaseVeiw {
  grid-column: 2;
  grid-row: auto;
  width: 50%;
  height: 50px;
  overflow-y: scroll;
}

/* descendant selectors */
#MainView h1 {

}
